
html {
	height: 100%;
	background-color: rgb(40,45,50);
}

body {
	height: 100%;
	width: 100%;
	display: table;
	table-layout: fixed;
	background:url(../img/chameleon.jpg)no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header,
footer {
	display: table-row;
}

main {
	display: table-row;
	height: 100%;
}

